<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skin.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.skin.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.skin.demo.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.skin.demo.tab.MainActivity" />

        <activity android:name="com.skin.demo.window.WindowManagerActivity" />

        <activity
            android:name="com.skin.demo.settings.SettingsActivity"
            android:label="SettingsActivity" />

        <activity
            android:name="com.skin.demo.mdtab.CollapsingToolbarLayoutActivity"
            android:label="CollapsingToolbarLayoutActivity" />

        <activity
            android:name="com.skin.demo.constraint.ConstraintLayoutActivity"
            android:label="ConstraintLayoutActivity" />

        <activity
            android:name="com.skin.demo.alert.AlertDialogActivity"
            android:label="AlertDialogActivity"
            android:theme="@style/AlertDialogTheme" />

        <activity
            android:name="com.skin.demo.mdtab.MaterialDesignActivity"
            android:label="Material Design"
            android:theme="@style/MaterialDesignTheme" />
        <activity
            android:name="com.skin.demo.test.TestActivity"
            android:label="Test Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.skin.demo.actionbar.ActionbarTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarTheme" />
        <activity
            android:name="com.skin.demo.picker.ColorPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skin.demo.picker.DrawablePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skin.demo.zip.ZipActivity"
            android:screenOrientation="portrait" />

        <!-- flycotablayout -->
        <activity
            android:name="com.skin.demo.flycotablayout.ui.SimpleHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.skin.demo.flycotablayout.ui.CommonTabActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skin.demo.flycotablayout.ui.SlidingTabActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skin.demo.flycotablayout.ui.SegmentTabActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.skin.demo.window.WindowService" />
    </application>


</manifest>